.dau1{width: 800px;
height: 100px;
background-color: red;
color:#FCFDFC;
font-size:50px;
padding-top: 20px;}
.dau2{
	width: 800px;
	height: 30px;
	background-color: blue;
	padding-top: 10px;
}
.dau2 a{text-decoration: none;
color:#FCFDFC;
margin-left: 20px;
}
.dau3{
	display: flex;
	width: 800px;
	height: 700px;
}
.dau31{width: 600px;
height: 700px;}
.dau32{
	width: 200px;
	height: 270px;
	border-style: solid;
	margin-top: 20px;
}
.footer{
	background-color: #AAAAAA;
	width: 600px;
	height: 20px;
	text-align: left;
	color: #DADADA;
	padding-top: 10px;
	font-weight: arial;
}
