body{
	min-width: 720px;
	text-align: center;
}
#content{
	width: 270px;
	margin: 0 auto;
}
#id_div1{
	height: 125px;
	width: 600px;
	margin: 0 auto;
	background: #F4F4F4;
}
#id_div2{
	width: 270px;
	margin: 0 auto;
}