
.head{
  width: 100%;
  height: 157px;


}
.header{
    margin: 70px;
}
.header-bottom{
  margin: 30px;
}
.first-header {
  width: 40%;
  height: auto;
  padding-top: 7%;
}
.last-header{
  width: 60%;
  float: right;
  margin-top: -70px;
}
ul li{
  display: flex;
  float: right;
  padding-right: 30px;
}
.center{
  margin: 60px 150px 50px 90px;
  width: auto;
  height: auto;
  margin-right: 30px;

}
.first-cospan{
  margin: 90px ;
}
.last-cospan{
  margin: 90px;
}
.cos-center{
  display: flex;
  width: 100%;
}
.last-cospan img{
    margin-right: 20px;
}
#last-cospan{
  margin-right: 20px;
}
.bottom{
  width: 100%;
  height: 250px;
  margin: 30px -1000px 10px -10px;
  background: #F0F0F0;
  text-align: center;
}
.footer-1{
  display: inline-block;
  padding: 30px 50px;
  margin-left: 43%;
}
.truoc{
  padding-top: 50px;
}
.bottom img{
  margin-top: 90px;
  margin-left: 170px;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  height: 30px;
  width: 200px;
  margin-top: -90%;
  background: #F0F0F0;
}

input[type=text]:focus {
  background-color: #F0F0F0;
}
