body{
    margin: 0;
}

.row{
    display: flex;
}

.wrap-header{
    margin: auto;
    max-width: 90%;
    text-transform: uppercase;
    padding-top: 50px;
}

@font-face{
    font-family: Inconsolata;
    src: url(../font/Inconsolata-Regular.ttf);
}

@font-face{
    font-family: Ubuntu;
    src: url(../font/Ubuntu-R.ttf);
}

@font-face{
    font-family: Playfairdisplay;
    src: url(../font/PlayfairDisplay-Regular.ttf);
}

.logo{
    font-family: Inconsolata;
    font-size: 35px;
    width: 30%;
    padding-top: 5px;
}

.ul-1{
    text-align: right;
    width: 70%;
}

.ul-1 li{
    display: inline-block;
    list-style: none;
    margin-left: 120px;
}

.ul-1 li a{
    text-decoration: none;
    color: #6d6d6d;
    font-size: 17px;
    font-family: PlayfairDisplay;
}

.header{
    margin-bottom: 40px;
}

.wrap-header img{
    width: 100%;
    padding-bottom: 50px;
}

.wrap-content{
    margin: auto;
    max-width: 75%;
}

.photodiary{
    font-family: Ubuntu;
    font-size: 14px;
    color: #b4ad9e;
    font-weight: lighter;
}

.title-content-top{
    font-size: 30px;
    font-family: PlayfairDisplay;
    color: #626262;
}

.p-head-top{
    font-family: PlayfairDisplay;
    color: #626262;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px;
}

.content{
    margin-top: 100px;
}

.content-item{
    width: 50%;
}

.p-title{
    font-family: Ubuntu;
    font-size: 14px;
    color: #b4ad9e;
    font-weight: lighter;
}

.h1-item{
    font-size: 30px;
    font-family: PlayfairDisplay;
    color: #626262;
}

.p-text{
    font-family: PlayfairDisplay;
    color: #626262;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px;
}

.content-item img{
    width: 100%;
}

.left{
    padding-right: 35px;
}

.right{
    padding-left: 35px;
}

.wrap-sign-up{
    background-color: #f0f0f0;
}

.sign-up{
    max-width: max-content;
    margin: auto;
    padding: 70px;
}

.h1-sign-up{
    font-size: 30px;
    font-family: PlayfairDisplay;
    color: #333333;
    margin-bottom: 70px;
}

.sign-up-box{
    border: 1px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
}

#input-text{
    border: none;
    background-color: #f0f0f0;
    font-family: PlayfairDisplay;
    width: 330px;
}

#input-submit{
    border: none;
    background-image: url(../images/icon.jpg);
    width: 38px;
    height: 28px;
}

.load-more{
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    max-width: max-content;
}

.load-button{
    border: 1px solid #000000;
    font-size: 20px;
    font-family: PlayfairDisplay;
    color: #626262;
    padding: 20px;
    background-color: #ffffff;
}

.wrap-footer{
    background-color: #f0f0f0;
}

.footer{
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
}

.footer a{
    font-family: PlayfairDisplay;
    color: #626262;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
}

.footer-a{
    width: 50%;
}

.row1{
    display: flex;
}

.icon{
    width: 50%;
    text-align: right;
    vertical-align: bottom;
}

.follow{
    position: relative;
    top: -9px;  
}

#facebook{
    top: -4px;
    position: relative;
}