.row{
    background-color: #efefef;
    display: flex;
    border: 10px solid white;
}
.header{
    
}

h1{
    width: 100%;
    text-align: center;
}

ul{
    list-style: none;
    justify-content: center;
    width: 100%;
}

#div-ul{
    margin: 0 auto;
    display: flex;
}
li{
    margin: 10px;
    display: inline-block;
}
#span1{
    width: 100%;
    text-align: center;
    height: 100px;
    /* display: inline-block; */
}

.col{
    width: 33.33%;
    text-align: center;
    height: 120px;
}

#p2{
    text-align: center;
    width: 100%;
    padding: 0 0 25px 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

.container{
    background-color: #ffffff;
    width: 1000px;
}

.column1{
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    border-right: 10px solid white;
}
.column2{
    border: 10px solid white;
}
.column3{
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    border-left: 10px solid white;
}

.div1{
    background-color: #efefef;
    margin: 0;
    padding: 15px 0;
    border: white 10px solid;
    border-bottom: none;
}

#temp{
    width: 30%;
}