.container{
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
}
.header{
    color: white;
    background: #444444;
    width: 100%;
}
#span1{
    color: #f38222;
    font-size: 60px;
    margin: 0px 0px;
    padding-top: 18px;
    font-weight: bold;
}
h1{
    padding: 2px;
    padding-left: 30px;
    font-size: 40px;
}
#ul1{
    background-color: #222222;
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
    color: white;
    width: 100%;
}

.li-1{
    background-color: #222222;
    margin: 5px 0;
    padding: 5px 20px;
    color: #8aa4a3;
}

#li1{
    border-radius: 5px;
    margin: 5px 0 5px 20px;
    padding: 5px 10px;
    background-color: #656565;
}

.temp{
    width: 50%;
}

#search{
    background-color: #4e4e4e;
    border: none;
    color: white;
    height: 23px;
    border-radius: 3px;
}

#div-search{
    float: right;
    margin: 8px 5px 5px 0px;
}

.main-content{
    padding: 20px;
    width: 70%;
}

.main{
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 20px;
    background-color: #f4f4f4;
}

.div-heading{
    margin-right: 30px;
}

.img{
    margin-right: 20px;
    margin-bottom: 20px;
}
.right{
    width: 30%;
}

.footer{
    background-color: #eeeeee;
    padding: 15px 15px 15px 20px;
}

#span-footer{
    color: #5992cd;
}

.text{
    color: rgb(63, 60, 60);
}