@font-face {
  font-family: 'Inconsolata-Regular';
  src:url("font/Inconsolata-Regular.ttf");
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("font/PlayfairDisplay-Regular.otf");
}
.header-content {
    display: flex;
}
h1.header-logo {
    width: 40%;
    font-family: Inconsolata-Regular;
}
ul.header-ul {
    width: 60%;
    display: flex;
    margin: auto;
}
li.header-li {
    width: 25%;
    list-style: none;
}
a.header-link {
    text-decoration: none;
}
img.width-img {
    width: 100%;
}
.main-top {
    margin: 100px;
}
a {
    color: #A2A2A2;
    text-decoration: none;
}
img.width-img {
    width: 100%;
}
.row {
    display: flex;
}
.content-left {
    width: 50%;
}
img.img1,img.img2 {
    width: 100%;
}
.content-right {
    width: 50%;
    margin-left: 500px;
}
p.chiu {
    color: #BEB8AA;
    font-family: PlayfairDisplay-Regular;
}
p.day {
    color: #626262;
    font-family: PlayfairDisplay-Regular;
}
h1 {
    color: #626262;
    font-family: PlayfairDisplay-Regular;
}
.main-center {
    text-align: center;
}
.main-giua {
    text-align: center;
    padding: 65px;
    background: #F0F0F0;
}
.main-footer {
    margin: 100px;
}
.load-more {
    border: 1px solid gray;
    text-align: center;
    font-family: cursive;
    margin: 80px 850px 0px 850px;
    padding: 7px;
    font-size: 25px;
}
.footer {
    background: #F0F0F0;
    /* margin: 10px; */
    padding: 25px;
    margin-top: 5000px;
}
.content-footer-1 {
    margin-left: 70px;
        width: 10%;
}
.content-footer-2 {
      width: 70%;
}
.relationship-footer {
  width: 5%;
}
.relationship-footer-1 {
  width: 3%;
  padding-top: 13px;
}
.relationship-footer-2 {
    width: 3%;
    padding-top: 13px;
}
.relationship-footer-3{
    padding-top: 13px;
}
hr{
      margin: 30px 700px 0px 700px;
      background: #F0F0F0;
}
