.wrap-header {
    background-color: #2F2F2F;
    color: white;
}
.container {
    padding: 0 10%;
    max-width: 100%;
    margin: auto;
}
.row {
    display: flex;
    align-items: center;
}
.logo{
	width:50%;
	font-family: Pacifico;
	font-size:35px;
}
.header ul li{
	display: inline-block;
	margin-left: 20px;
    font-family: Myriad Pro;
}
.header ul li a{
 	text-decoration: none;
 	color:#FFF;
}
/*nhúng font từ bên ngoài*/

@font-face{
	font-family: 'Pacifico';
	src: url("../fonts/Pacifico.ttf");
}
.wrap-main-top{
    background-color: #F1F1F1;
}
.post{
    font-family: Myriad Pro;
    padding-top: 20px;
    padding-bottom:50px;
    max-width: 80%;
}
.post h1{
    font-size: 25px;
    width: 120%;
    padding-bottom: 5px;
}
.post p{
    font-size: 13px;
    color:gray;
    width: 70%;
}
.learn{
    margin-top: 36px;
}
.learnmore{
    background-color: #F99640;
    color:#FFF;
    padding :5px 0px;
    width: 110px;
    border-radius:5px;
    box-shadow: 0px;
    border:none;
}
.mainpicture{
    margin-top: 40px;
}
.mainrow{
    display:flex;
    width: 92%;
}
.vungflex{
    display:flex;
    max-width: 90%;
}
.tieudechinh{
    font-weight: bolder;
    font-size: 25px;
    padding-bottom:20px;
    padding-top:60px;
}
.group1, .group2, .group3{
    padding-right:95px;
    width:40%;
    max-width: 40%;
}
.tieude, .doanvan{
    padding-bottom: 10px;
}
.group1 img{
    padding-bottom: 5px;
}
.tieude{
    font-weight: bolder;
    font-size: 20px;
}
.vungflex1{
    padding-top:20px;
    padding-bottom:20px;
    background-color: #000;
    color:white;
}
.left, .center, .right{
    padding-right: 95px;
    width:260px;
}
.tieudeduoi1{
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 20px;
}
.wrapbottom{
    margin:20px 3px;
}
.group2{
    max-width: 40%;
}
