.Bai4 {
    border: 2px solid black;
    width: 900px;
    text-transform: uppercase;
    width: 500px;
}
.header{
    border: 2px solid blue;
    padding: 20px;
    margin: 10px;
    margin: 2;
    /* padding-right: 20px; */
}
.row {
    display: flex;
}
.menu {
    border: 2px solid blue;
    padding: 50px;
    margin: 10px;
    height: 50px;

}
.text {
    border: 2px solid blue;
    margin: 10px;
    width: 290px;
    padding: 5px;
}
.right1 {
    display: flex;
}
.img {
    border: 2px solid blue;
    margin-left: 10px;
    width: 45%;
    height: 109px;
}
.moretext {
    margin-left: 2px;
    border: 2px solid blue;
    width: 45%;
}