body {
    margin: 0;
}
.row {
    display: flex;
    align-items: center;
}
.header {
    width: 90%;
    margin: auto;
}
.minimo {
    width: 20%;
}
ul {
    width: 80%;
    align-items: right;
    text-align: right;
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 70px;
    /* text-decoration: none; */
}
a {
    text-decoration: none;
    color: #7d7d7d;
}
.img1 {
    width: 100%;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.photodiary.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
}
span.span {
    color: #b4ad9e;
}
h1.h {
    color: #878787;
}
p.p {
    color: #626262;
}
.leave.container {
    padding-top: 60px;
}
.img-leave {
    margin-top: 120px;
}
.img2 {
    width: 50%;
    margin-right: 80px;
}
.lifel, .lifer {
    width: 50%;
}
.img3 {
    width: 100%;
}
.life {
    margin-right: 60px;
}

.photor, .photol {
    width: 50%;
}
.photo {
    margin-right: 60px;
}
.dis-container {
    padding: 20px;
    background: #f0f0f0;
    text-align: center;
}
hr {
    width: 378px;
}
h1.h1-dis {
    color: #3a3a3a;
}
.p-dis {
    margin-right: 12%;
    display: inline;
}
.startl, .startr {
    width: 50%;
    margin-right: 8%;
    margin-top: 8%;
}
.img4 {
    width: 100%;
}
.load-more {
    text-align: center;
    margin-top: 10%;
}
a.load.p {
    border: 1px solid;
    padding: 10px;
}
.load-more {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 100%;
}
.footer {
    padding: 30px;
    background: #f0f0f0;
}
.post {
    width: 60%;
    margin-left: 110px;
}

.icon {
    margin-left: 60%;
    width: 40%;
}
span.span-footer.sp {
    margin-left: 15px;
}
.sp {
    color: #3d3d3d;
}
@font-face{
    font-family: 'VNI';
    src: url('../fonts/VNI-HelveB.TTF');
}