*{margin:0;padding:0;}
.container{width: 100%}
@font-face{
	font-family:'pacifico';
	src:url("Pacifico.ttf");
}
.bloom-text{
	font-family: "pacifico";
	font-size: 30px;
	color:white;
}
.header{background:#2f2f2f;}
.header-wrap{display: flex;padding:10px 0;}
.header-wrap span{margin-left: 10%;}
.header-wrap ul{float: right;margin-left: 30%;}
.header-wrap ul li{display: inline-block;margin:20px 0;}
.header-wrap ul li a{text-decoration: none;
color: white;display: block;
margin:0 20px;
}

.main-top{background: #f1f1f1;display: flex;padding-top:60px;}
.col{float: left}
.paragr{margin-left: 10%}
.paragr span{font-size: 26px;font-weight: bold}
.paragr p{margin-top: 10px}
.paragr input{
	background: #f99640;
	border: none;width: 100px;
	height: 26px;
	margin:40px auto;
	border-radius: 4px;
}
.images{margin-left: 60px}

.cell-black{background: #000;
height: 120px;
width: 90%}
.black-col{float:left;width: 33.33%}
.black-row{display: flex;}
.main-bottom-content{margin-left: 10%;margin-top: 40px}
.black-col-content{margin-right: 20%}
.span-heading{margin:20px 0;}
.span-heading span{font-size: 26px;font-weight: bold}
.black-col input{
	background: #f99640;
	border: none;
	width: 100px;
	height: 26px;
	margin:40px auto;
	border-radius: 4px;
}

.footer-top p{color:#d8d8d8;}
.footer-top-col{float:left;margin-left:10%;}
.col1,.col2{width: 30%;}
.col2{width: 40%}
.footer-top{display: flex;background: #000;color: white;padding-top: 60px}
.col2,.col3{margin-left: 0}
.latest-posts,.about,.stay-connected{font-size: 24px;margin: 20px auto}
.cate-col{float:left;}
.cate-row-content{display: flex;margin:15px 0;}
.cate-paragr span{ font-size: 22px;}
.cate-contact span{font-size: 22px}
.cate-icon{float: left;}
.cate-contact-row{display: flex;margin-bottom: 6px}
.cate-title-content{margin:8px;}
.cate-title span{margin-top: 10px}
