*{padding:0;margin:0;}
		.container{width: 100%}
		.header{background: #daeaeb;}
		.header-content{height: 80px;margin-left:15%;}
		.header span{line-height: 70px;color:#3a6669;font-size: 26px}
		.main{background: #5b4437;}
		.main-content{height: 150px;}
		.footer{background:#b1a38d;}
		.footer-menu{padding-bottom:16px;}
		.footer-menu-content{width: 70%;margin-left:15%; margin-top: -100px}
		.footer-menu-content li{
			display: inline-block;
			border-right:2px solid #463328;
		}
		.footer-menu-content li:last-child{border-right: none}
		.footer-menu-content a{
			text-decoration: none;
			color: #463328;
			padding-right: 10px;
			display: block;
		}
		.container-top{
			width: 70%;
			margin-left: 15%;
			background:#fefae8;
			position:relative;
			top: -100px;
		}
		.top-menu-content li{
			display: inline-block;
			width: 19.5% ;
			border-right: 1px solid #fefae8;
		}
		.top-menu-content li:first-child{background: #fefae8;}
		.top-menu-content li:first-child a{color:#000;}
		.top-menu-content li:hover{background: #fefae8}
		.top-menu-content li:hover a{color:#000;}
		.top-menu-content li:last-child{border-right: none}
		.top-menu-content li a{
			text-align: center;
			text-decoration: none;
			color:white;display: block;
			padding:14px 0;
			list-style-type: none;
		}
		.top-menu-content{background:#85a938;}
		.logo-img{border:3px solid #e3d8c5;margin:20px;}
		.top-content-wrap{
			border:1px solid #e3d7c5;
			display: flex;
			margin:20px;
			padding:10px 0;
			border-right: none;
			border-left: none;
		}
		.content-col{float:left;}
		.get-a-quote input{width: 150px;height: 35px;border:none;background:none;}
		.get-a-quote{
			border-radius: 12px;
			border:1px solid #d79327;
			background:#d79327;
			margin-left: 60px;
		}
		.paragr-content{margin:10px 24px;}
		.col-footer{float: left;width: 50%}
		.top-footer-content{display: flex;margin:20px;padding-bottom: 20px}
		.about-me-content,.How-can-i-help-you-content span{
			color:#7b9d33;
			font-size: 26px;
			font-weight: bold;
		}
		.about-me-content,.How-can-i-help-you-content{margin:16px 0;}
		.row span{color:#dc992d;font-weight: bold;}
		.row-content{margin-bottom: 20px}