@font-face{
	font-family:"inconsolata";
	src:url("Inconsolata-Regular.ttf");
	font-family: "ubuntu";
	src:url("Ubuntu-Light.ttf");
	font-family: "PlayfairDisplay-Regular";
	src:url("PlayfairDisplay-Regular.ttf");
}
.header span{font-family: "inconsolata";font-size: 28px}
span.ubuntu{font-family: "ubuntu"}
*{padding:0;margin:0;}
.container{color:#626262;font-family: "PlayfairDisplay-Regular"}
.header-content{width: 92%;margin:0 4%;}
.header-content-menu{padding-top: 40px}
.menu li{list-style-type: none;display: inline-block;margin:0 40px;}
.menu li a{text-decoration: none;color:#626262;}
.logo{float:left;}
.menu{float:right;}
.banner img{width: 100%}
.banner-content{margin:30px 0;}
/*main*/
.main-content{margin:0 8%;padding-bottom: 400px}
.photodiary-content{margin:30px 0;}
.the-perfect-weekend-geaway span{font-size: 28px}
.paragr-content{margin:30px 0;}
.paragr-content p{font-size: 20px}
.list-content{margin:90px 0;}
.list-row-col{float: left;width: 50%}
.list-row{display: flex;margin-bottom: 90px}
.list-row img{width: 90%}
.list-row p{font-size: 20px;margin-top: 36px}
.list-row span{font-size: 28px;}
.lifestyle-content,.title-content{margin:15px 0;}
.sign-up-for-ou-newsletter-content{margin:50px 0;margin-left: 40%}
.sign-up-for-ou-newsletter{background: #f0f0f0;margin:0 -12%;display: flex;}
.sign-up-for-ou-newsletter span{font-size: 28px};
.input-btn,.email-icon{float: left;}
.input-btn{width: 100%}
.input-address input,button{background: none;border:none;outline:none;}
.input-address button:hover{cursor: pointer;}
.input-btn input{width: 100%}
.input-address-content{display: flex;border-bottom: 2px solid #000;margin-top:60px;padding-bottom: 8px}
.load-more input{width:100%;height: 35px;background: none;border:none;}
.load-more input:hover{cursor: pointer;}
.load-more-content{margin:0 45%;border:1px solid #626262;}
.footer{background: #f0f0f0;}
.footer-content{margin:28px 12%;padding:20px 0;}
.footer a{text-decoration: none;}
.footer li{list-style-type: none;display: inline-block;margin:12px;}
.vendor a{color:#000;}
.contact a{color:#626262;}
.vendor{float: left;}
.contact{float: right;}