/* Configs */
@font-face{
    font-family: 'InconsolataRegular';
    src: url('../fonts/Inconsolata-Regular.ttf');
}

@font-face{
    font-family: 'PlayfairDisplayRegular';
    src: url('../fonts/PlayfairDisplay-Regular.otf');
}

@font-face{
    font-family: 'UbuntuLight';
    src: url('../fonts/Ubuntu-Light.ttf');
}

body {
    min-height: 4000px;
}
/* end configs */

/* Header */
.header-fuild {
    margin-bottom: 20px;
}

.wrap-header{
    background: #ffffff;
}

.container{
    max-width: 90%;
    margin: auto;
}

.row{
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'InconsolataRegular';
    font-size: 40px;
    color: #2d2d2d;
    width: 40%;
    text-transform: uppercase;
}

ul.menu {
    width: 70%;
    text-align: right;
}

ul.menu li {
    display: inline-block;
    margin-left: 12%;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'PlayfairDisplayRegular';
    color: #bfbfbf;
}

.menu-item {
    text-decoration: none;
    color: #919191;
}
/* end Header */

/* Main */
.main {
    margin-bottom: 50px;
}
/* Main-Top */
.main-top-content {
    padding-left: 9%;
}

img.main-top-image {
    width: 100%;
    margin-bottom: 70px;
}

.main-top-content-item-sub {
    font-family: 'UbuntuLight';
    /* padding-left: 20px; */
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #d9d6cf;
}

.main-top-content-item-header {
    font-weight: bold;
    font-family: 'PlayfairDisplayRegular';
    font-size: 25px;
    font-family: 'PlayfairDisplayRegular';
    color: #a8a8a8;
    margin-bottom: 20px;
}

.main-top-content-item {
    font-family: 'PlayfairDisplayRegular';
    color: #ededed;
    margin-bottom: 35px;
}
/* end Main-Top */

/* Main-Center */
div.main-center ul {
    list-style: none;
    padding: 0;
}

li.content-row {
    padding: 0 5%;
    display: flex;
}

.col1{
    margin-right: 10px;
}

.content-row-detail {
    width: 40%;
    padding-left: 5%;
}

.detail-image {
    padding-top: 70px;
    margin-bottom: 20px;
}

.content-title {
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'UbuntuLight';
    color: #b4ad9e;
    text-transform: uppercase;
}

.detail-header {
    text-transform: uppercase;
    font-size: 23px;
    font-family: 'PlayfairDisplayRegular';
    color: #757575;
}

.detail {
    color: #757575;
    margin-bottom: 10px;
}

/* end Main-Center */

/* Main-break */
.wrap-main-break{
    background: #f0f0f0;
    margin-bottom: 30px;
}
div.main-break div.row ul {
    list-style: none;
    width: 100%;
}
.break-title {
    height: 50%;
    text-align: center;
    font-family: 'PlayfairDisplayRegular';
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 50px;
}
.break-input {
    height: 50%;
    align-items: center;
    width: 40%;
    margin-right: 30%;
    margin-left: 29%;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    padding-top: 20px;
}

li.break-input img {
    width: 30px;
    height: 30px;
}

.input-item {
    border: 0;
    margin-right: 50%;
    font-size: 16px;
    color: #949494;
}
/* end Main-break */

/* Main-bottom */
.main-bottom .row ul {
    padding: 0;
}
/* end Main-bottom */
/* end Main */

/* Footer */

button.button-load-more {
    height: 60px;
    width: 140px;
    font-family: 'PlayfairDisplayRegular';
    /* padding-left: 40%; */
    margin-left: 41%;
}
/* end Footer */