.all {
    display: flex;
    flex-direction: column;
    width: 600px;
}
p {
    color: #b22b26;
    font-size: 20px;
    font-weight: bold;
}
.infor {
    display: flex;
    flex-direction: column;
    height: 300px;
}
.anh {
    display: flex;
    height: 50%;
}
.image {
    width: 33.3333%;
   
}
.details {
    display: flex;
    height: 50%;
    margin-top: 20px;
}

.nd1 {
    width: 33.3333%;
}
a {
    color: #627582;
}