.all{
	display: flex;
	flex-direction: column;
}
/*CSS header*/
.header {
    height: 200px;
    display: flex;
    flex-direction: column;
}
.site-name {
    height: 75%;
    background: #cc0001;
}
.site-name h1 {
    font-size: 60px;
    font-family: sans-serif;
    color: #fefbf7;
    margin-left: 30px;
}

.link {
    height: 25%;
    background: #0000cc;
}
.link ul {
    display: flex;
    margin-left: -20px;
}
.link ul li {
    list-style: none;
    margin-right: 40px;
}
.link ul li a{
	color: #fefbf7;
	text-decoration: none;
}
/*END*/


/*CSS BODY*/

.body {
    display: flex;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 15px;
}
.heading {
    width: 80%;
}
.block-header {
    border: 1px solid;
    width: 20%;
    height: fit-content;
}
.block-header h1{
	margin-left: 10px;
    font-size: 20px;
}
/*END*/

/*CSS FOOTER*/
.footer{
	background: #aaaaaa;
	height: fit-content;
	color: #e8e8e8;
}
.footer p{
	margin-left: 10px;
}
