*{
	background: #CCCCFF;
}
.class-p1{
	color:#4c0014;
		font-weight: bold;
}
.class-p11{
	color:#4c0014;
	margin-left:20px;
	line-height: 0px;
}
.class-p2{
	color:#000085;
		font-weight: bold;

}
.class-p22{
	color:#000085;
	margin-left:20px;
	line-height: 0px;
}
#id-p{
	border: 3px dashed black;
}