.wrap-header {
    background: #2f2f2f;
    color: #fff;
    padding: 10px 0;
}

.container {
    max-width: 80%;
    margin: auto;
}

.row {
    display: flex;
    /* align-items: center; */
}

.logo{
    width: 40%;
    font-family: Pacifico;
    font-size: 35px;
    padding-bottom: 5px;
}


.header ul {
    width: 60%;
    text-align: right;
}

.header ul li {
    display: inline-block;
    /* margin: 0 15px; */
    margin-left: 10px;
    padding-top: 10px;
}

.header ul li a {
    color: #fff;
    text-decoration: none;
    font-family: Myriad Pro;
    font-weight: bold;
}

/* nhúng font từ bên ngoài về */
@font-face{
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.ttf');
}

.main{
    font-family: Myriad Pro;
}

.body{
    padding: 0;
}

.post{
    width: 40%;
    margin-right: 15px;
}

.post-image{
    width: 60%;
}

.post-title{
    margin-top: 0;
}

.des{
    color: #8f8989;
    font-size: 17px;
}

.learn-more{
    background-color: #f99640;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.main-top .row{
    align-items: normal;
}

.wrap-main-top {
    background: #f1f1f1;
    padding: 40px 0;
}

.h1-center{
    color: #2F2F2F;
}

.p-item{
    color: #5d5d5d;
}

.h2-item{
    color: #303030;
}

.image{
    width: 100%;
}

.wrap-learn-more {
    padding-top: 50px;
}

.wrap-item{
    width: 33.33%;
    padding-right: 55px;
}

.image-item{
    width: 360px;
    height: 270px;
    background-color: #2f2f2f;
}

.item-behind{
    padding-left: 7px;
}

.wrap-learn-more-center{
    margin-top: 30px;
}

.wrap-main-center {
    padding-bottom: 80px;
}

.wrap-main-bottom {
    background: #2f2f2f;
    color: #ffffff;
    padding: 50px 0;
    font-family: Myriad Pro;
}

.lasted-posts{
    width: 38%;
}

.h3-last{
    font-size: 21px;
}


.about{
    width: 42%;
    padding-right: 95px;
}

.h3-about{
    font-size: 18px;
}

.stay-connected{
    width: 20%;
    font-size: 18px;
}

.p-header{
    font-size: 14.5px;
    font-weight: bold;
    margin-bottom: 0px;
}

.p-content {
    font-size: 12.2px;
    margin-top: 5px;
    padding-left: 2px;
    color: #bcbcbc;
}

.p-about-content{
    font-size: 12px;
    margin-top: 33px;
    color: #bcbcbc;
}

.bottom-left{
    padding: 0;
}

.calendar{
    width: 51px;
    height: 52px;
    margin-right: 10px;
    vertical-align: center;
    display: inline-block;
}

.row1 {
    display: flex;
    align-items: center;
}

.icon{
    width: 28px;
    height: 27px;
    margin-right: 20px;
}

.bottom-right{
    margin: -19px 0px;
    color: #bcbcbc;
}

.h3-stay{
    margin-bottom: 25px;
}

.footer{
    text-align: center;
    font-family: Myriad Pro;
    font-size: 12px;
    padding: 20px 0;
    color: #2F2F2F;
}