
.header{
	background-color: #2F2F2F;
	display: flex;
}
.logo{
	padding: 40px;
	width: 30%;
	color: #FEFEFE;
	font-family: 'Pacifico';
	font-size: 30px;
	margin-left: 30px;
}
a{
	text-decoration: none;
}
@font-face{
	font-family: 'pacifico';
	src: url('../font/Pacifico.ttf');
}
@font-face{
	font-family: 'MyriadPro-Bold';
	src: url('../font/MyriadPro-Bold.otf');
}
ul{
	display: flex;
	padding: 40px;
}
li{
	color:  #FEFEFE;
	margin-right: 25px;
	font-family: 'MyriadPro-Bold';
}
.content1{
	background: #F1F1F1;
	display: flex;
	padding: 30px 100px;
}
.tieude{
	font-family: 'MyriadPro-Bold';
	font-size: 25px;
}
.para{
	padding-top: 20px;
	padding-right: 80px;
	padding-bottom: 50px;
}
.content2-1{
	font-family: 'MyriadPro-Bold';
	font-size: 25px;
	padding: 70px 100px 0px 100px;
}
.otrong1, .otrong2, .otrong3{
	background-color: #2F2F2F;
	width: 250px;
	height: 150px;
}

.content2-2{
display: flex;
padding: 30px 100px;
}
.tieude3{
	font-family: 'MyriadPro-Bold';
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.nutlearn{
	border: 1px solid none;
	background-color: #F99640;
	width: 80px;
	height:15px;
	padding-bottom:10px;
	text-align: center;
	border-radius: 4px;
}
.learn{
	color: #FEFEFE;
}
.para2{
	margin: 0px 80px 40px 0px;
} 
.footer{
	display: flex;
	background: #2F2F2F;
	padding: 30px 100px;
}
.footer1-1{
	font-family: 'MyriadPro-Bold';
	font-size: 20px;
	
	color: #FFFFFF;
}
.footer1-21{
	border: 1px solid ;
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	font-family: 'MyriadPro-Bold';
	background: #FFFFFF;
	border-radius: 5px;
	
}
.footer1-2a{
	display: flex;

}
.footer1-221, .footer1-222{
	color: #FFFFFF;
	padding-left: 20px;
	padding-bottom: 5px;
}
.footer2{
	width: 33.33%;
	padding-left: 40px;
}
.footer3{
	width: 33.33%;
	padding-left: 30px;
}
.footer2-1{
	font-family: 'MyriadPro-Bold';
	font-size: 22px;
	color: #FFFFFF;
}
.footer2-2{
	color: #FFFFFF;
}
.footer3-1{
	font-family: 'MyriadPro-Bold';
	font-size: 22px;
	color: #FFFFFF;

}
.footer3-211, .footer3-212, .footer3-213, .footer3-214 {
	display: flex;
	color: #FFFFFF;
}
.footer2-21, .footer2-22, .footer2-23, .footer2-24{
	padding-right: 20px;
}
.footer4{
	background: #FFFFFF;
	color: #6E7374;
	text-align: center;
}