.header1, .div3-1, .div4-1, .div5-2, .div6, .div8-1, .div8-2, .div8{
	display: flex;
}
ul {
	display: flex;
}
.logo{
	width: 40%;
	font-family: 'Inconsolata-Regular';
	font-size: 40px;
}
li {
	width: 100px;
	padding-right: 40px;
	font-family: 'PlayfairDisplay-Regular';
}
a{
	text-decoration: none;
}
.all{
	padding: 20px 200px;
	background: #FFFFFF;
}
@font-face{
	font-family: 'Inconsolata-Regular';
	src: url('../font/Inconsolata-Regular.ttf');
}
@font-face{
	font-family: 'PlayfairDisplay-Regular';
	src: url('../font/PlayfairDisplay-Regular.ttf');
}
@font-face{
	font-family: 'Ubuntu-Light';
	src: url('../font/Ubuntu-Light.ttf');
}
.div2, .div3{
	padding-top: 80px;
	padding-left: 200px;
}
.div2-1, .div2-2, .div2-31{
	padding-top: 40px;
	font-family: 'Ubuntu-Light';
}
.div2-1, .div2-2{
	color: #D8D4CC;
}
.d3-2, .d6-2 {
	font-family: 'Ubuntu-Light';
	color: #D8D4CC;
	padding-top: 20PX;
	padding-bottom: 20px;
}
.d3-3{
	font-family: 'Ubuntu-Light';
	padding-top: 20PX;
	padding-bottom: 20px;
	color: #626262;
	font-size: 25px;
}
.d3-4{
	padding-right: 60px;
	padding-bottom: 20px;
}
.d4-2{
	font-family: 'Ubuntu-Light';
	color: #D8D4CC;
	padding-top: 20PX;
	padding-bottom: 20px;
}
.d4-3, .d6-3{
	font-family: 'Ubuntu-Light';
	padding-top: 20PX;
	padding-bottom: 20px;
	color: #626262;
	font-size: 25px;
}
.d4-4, .d6-4{
	padding-right: 60px;
	padding-bottom: 20px;

}
.div5{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 600px;
	background-color: #F0F0F0;
}
.div5-1{
	padding-bottom: 50px;
	font-family: 'PlayfairDisplay-Regular';
	font-size: 30px;

}
.div7{
	padding-top: 200px;
	padding-bottom: 1000px;
	padding-right: 600px;
}
.nut{
	border: 1px solid;
	width: 140px;
	height: 40px;
	text-align: center;
	padding-top: 30px;
	margin-left: 400px;
	text-decoration: none;
	font-family: 'PlayfairDisplay-Regular';
	color: #808080;
}
.all3{
	background: #F0F0F0;
	padding-left:160px; 
	padding-top: 30px;
	padding-bottom: 30px;
}
.div8-1{
	width: 70%;
}
.div8-11, .div8-12, .div8-21, .div8-22, .div8-23, .div8-24{
	padding-left: 30px;
	font-family: 'PlayfairDisplay-Regular';
}