.wrap-header{
	background-color: #2F2F2F;
	color: #fff;
	padding: 10px 0px;
}
	.container {
    padding: 0 10%;
}
.row{
	display: flex;
	align-items: center;
}
.logo{
	width: 40%;
	font-family: Pacifico;
	font-size: 25px;
}
.header ul{
	width: 60%;
	text-align: right;
}
.header ul li{
	display: inline-block;
	margin-left: 20px;
}
.image{
	width: 100%;
}
.header ul li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
@font-face{
	font-family: 'Pacifico';
	src: url('../font/Pacifico.ttf');
}
body{
	margin: 0;
	font-family: 'Myriad Regular', sans-serif;
}
.post{
	width: 40%;
	margin-right: 15px;
}
.post-image{
	width: 60%;
}
.post-title{
	margin-top: 0;
	font-size: 25px;
}
.des{
	color: #8f8989;
}
a.learn-more{
	background-color: #f99640;
	padding: 5px 15px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}
.main-top .row{
    align-items: normal;
}
.wrap-main-top{
	background-color: #F1F1F1;
	padding: 60px 0px;
}
.wrap-main-center{
	padding: 50px 0px 60px;
	background: #fff;
}
.product .img{
	width: 326px;
	height: 220px;
	display: block;
	background-color: #2F2F2F;
}
.product-title{
	margin-top: 15px;
	font-size: 17px;
}
.product{
	width: 31%;
	margin-left: 50px;
}
.container .product:first-of-type{
	margin-left: 0px;
}
.product .des{
	padding-bottom: 10px;
}
.wrap-main-bottom{
	padding: 40px 0px 60px;
	background: #2F2F2F;
	color: #fff;
}
.wrap-main-bottom .row{
	align-items: normal;
}
.main-bottom-title{
	font-size: 17px;
	margin-bottom: 25px;
}
.clearfix{
	clear: both;
}
.latest-post{
	width: 29%;
}
.about{
	width: 40%;
	margin: 0 100px;
}
.stay-connected{
	width: 12%;
}
.date{
	width: 45px;
	text-align: center;
	background-color: #fff;
	color: #2F2F2F;
	border-radius: 5px;
	padding: 5px 0px;
	float: left;
}

.date span{
	font-size: 10px;
}
.bottom-des{
	float: left;
	padding: 5px 10px;
}
.section{
	display: block;
	overflow: auto;
	margin-bottom: 10px;
}
.wrap-main-bottom p{
	margin: 0;
	font-size: 15px;
}
.wrap-main-bottom p strong{
	font-size: 16px;
}
.section p:first-of-type{
	padding-bottom: 3px;
}
.link{
	overflow: auto;
	margin-bottom: 15px;
}
.link a img{
	float: left;
}
.link p{
	float: left;
	padding: 3px 0px 0px 15px;
	font-size: 18px;
}
.footer{
	text-align: center;
	background-color: #fff;
	color: #000;
	margin: 30px;
	font-size: 15px;
}
