
.tieude{
	background-color: #333333;
	color:#FFFFFF;
	display: flex;
}
.chu{
	font-size: 40px;
	font-weight: 900px;
	padding-top: 20px;
}
.so{
	font-size: 60px;
	font-weight: bold;
	padding-top: 10px;
	color: #F38328;
}
.menu a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 25px;
}
.menu{
	background-color: #666666;
}
.menu tr td{width: 100px;
height: 50px;
text-align: center;}
.bo{display: flex;
	
}
.bo1{margin-top: 20px;}
.con1{display: flex;
}
.con11 img{
	width: 130px;
	height: 150px;
	margin-top: 12px;
	margin-left: 20px;
}
.con12{margin-left: 20px;
}
.con12 a{text-decoration: none;
color:#E2A35E;
font-size: 20px;}
.con12 p{margin-bottom: 20px;}
.con2 a{text-decoration: none;
color:#E2A35E; 
}
.con2{
	margin-left: 20px;
	background-color: #E5E5E5;
	padding-left: 20px;
}
