/*add font*/
@font-face {
    font-family: 'Pacifico';
    src: url("../font/Pacifico.ttf");
}
@font-face {
    font-family: "Myriad";
    src: url("../font/locnso.otf");
}

/*CSS*/
body{
    height: 1500px;
    margin: 0px;
}

/*css header*/
    /*css background header*/
        .wrap-header {
            background: #2f2f2f;
            height: 7%;
        }
        .header {
            display: flex;
            align-items:center;
        }

    /*css logo*/
        .logo {
            font-family: Pacifico;
            font-size: 50px;
            color: #fff;
        }
        .wrap-logo {
            width: 40%;
        }


    /*css menu*/
        .wrap-menu {
            width: 60%;

        }
        .menu {
    width: fit-content;
    position: relative;
    left: 120px;
}
        .menu ul li {
            display: inline-block;
            list-style: none;
            margin-right: 20px;
            word-spacing: -7px;
        }
        .menu ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            font-family: monospace;
        }
    /*end css menu*/
/*end css header*/

/*CSS BODY*/
.wrap-body {
    height: 66.666%;
}
.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}


    /*top-content*/
    .top-content {
        display: flex;
        margin-top: 60px;
    }
    .wrap-top-content {
        height: 41.666%;
        background: #f1f1f1;
    }

    .left-top {
        width: 45%;
        margin-top: -30px;
        margin-right: 30px;
    }
    .left-top h1{
        font-family: myriad;
    }
    .right-top {
        width: 60%;
    }

    .right-top img {
        width: 100%;
    }
    .border-chung {
        padding: 0 200px;
    }

    .learnmore a {
    color: #fff;
    text-decoration: none;
    font-family: Myriad;
}

    p.pag {
        font-weight: normal;
        color: #878787;
        font-size: 20px;
    }
    .learnmore {
    background: #f99640;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 30px;
}
    /*end top content*/

    /*bottom content*/
    .wrap-bot-content {
        margin-top: 70px;
        height: 58.333%;
    }
    .heading {
        font-family: Myriad;
        font-size: 30px;
    }
    .main-bot-content {
    display: flex;
    height: 90%;
    margin-right: -15px;
    margin-left: -15px;
}
   .wrap-main-content {
    width: 33.333%;
}
    .main-content {
    padding: 0 15px;
}
    .bot-content {
    height: 90%;
}
.content1 {
    background: #2f2f2f;
    height: 200px;
    margin-top: 30px;
}
.content2 {
    font-family: Myriad;
    margin-top: 20px;
}
.content3 {
    margin-top: 20px;
    color: #8d8d8d;
}
    .wrap-main-content .main-content .learnmore {
    margin-top: 20px;
}
    /*end bottom content*/

/*end css body*/


 /*css footer*/
.information {
    display: flex;
    padding-top: 50px;
}

.wrap-infor {
    background: #2f2f2f;
    height: 400px;
}

.latest-posts {
    width: 30%;
}
.about {
    width: 40%;
    margin-left: 60px;
}
.stay-connected {
    width: 15%;
    margin-left: 100px;
}
p.des {
    font-family: Myriad;
    font-size: 17px;
    color: #fff;
}
.lp {
    display: flex;
    margin-bottom: 10px;
}
.date {
    background: #fff;
    text-align: center;
    width: 60px;
    border-radius: 5px;
    height: 70px;
}
p.month {
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: -10px;
}
p.day {
    font-family: Myriad;
}
.nd-ben-trai {
    color: #fff;
    margin-left: 20px;
}
p.nd1 {
    margin-top: 7px;
    font-family: Myriad;
}
p.nd2 {
    color: #ccc5c5;
    font-size: 14px;
}
p.abc {
    color: #ddd8d8;
    font-size: 14px;
}
.abcde {
    display: flex;
    height: 30px;
    margin-bottom: 15px;
}
p.abc3 {
    margin-left: 15px;
    color: #fff;
    margin-top: 5px;
    font-size: 17px;
    font-family: monospace;
}
.end-footer {
    text-align: center;
    height: 80px;
    padding-top: 40px;
    font-family: myriad;
}
 /*end css footer*/