@font-face {
  font-family: 'QlassikBold_TB';
  src: url("../fonts/QlassikBold_TB.ttf");
}
a{
	text-decoration: none;
}
ul li{
	padding: 0;
}
.header-top{
	background: #DEDDDE;
	color: #3A6669;
}
.header-ul{
	font-family: arial;
	background: #86AA39;
}
.header-li{
	display: inline-block;
	margin: 30px;
	float: auto;
}
.get-a-quotes{
	background: #D79428;
	padding-right: 20px;
  	border-radius: 5px;
}
.get {
    margin-bottom: 20px;
    margin-top: 20px;
}
h2.mid-h2 {
    color: #7B9D33;
}

.mid {
  align-items: center;
  display: flex;
}
.mid-right.content {
    margin-left: 50%;
}
.Web-design, .Web-Development, .Logo-Design{
	background: #D79428;
	border-radius: 5px;
}
img.cangiua {
	display: block; 
	margin-left: 30%; 
}
h1 {
    margin-left: 20%;
}
ul.header-ul {
    margin-left: 20%;
}
.mid {
    margin-left: 20%;
}
.get {
    margin-left: 20%;
}
.row {
    background: #B1A38D;
}