.lon{width: 600px;
height: 500px;
background-color:#3E1D16; }
.nho{
position: absolute;
margin-left: 130px;
margin-top: 100px;
width: 300px;
height: 300px;
background-color:#F7F7F7;
border-radius:30px;}
input{margin-top: 20px;}
.nho1{color:#F7F7F7;
background-color:#1C050C;
border-radius: 30px 30px 0 0;
width: 300px;
height: 40px;
padding-top: 10px;
}
select{font-size: 25px;
font-weight: bold;}
.nho span{margin-top: 20px;
padding-top: 20px;}
.ok input{border-radius: 7px;
background-color:#9F283D;
font-weight: bold;
font-size: 30px;
color:#F7F7F7
}
