@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
	font-family: 'inconsolata';
	src: url('../fonts/Inconsolata-Regular.ttf');
}

@font-face {
	font-family: 'playfair';
	src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

.container {
    max-width: 80%;
    margin: auto;
}
.header ul li {
    display: inline-block;
    margin-left: 45px;
}

.header ul li a {
	text-decoration: none;
	color: #6f6f6f;
	font-family: playfair;
}
.logo {
	width: 40%;
	font-family: inconsolata;
	font-size: x-large;
}
.row {
    display: flex;
    align-items: center;
}
.article {
    margin-top: 55px;
}
.comment {
    margin-top: 30px;
    margin-bottom: 30px;
}
img.main-img {
    width: 100%;
}
img.img2 {
    margin-right: 55px;
    width: 40%;
}
img.img3 {
    width: 40%;
}
.sub-content1 {
    width: 40%;
    margin-right: 56px;
    margin-top: 10px;
}
.sub-content2 {
    width: 40%;
    margin-top: 10px;
}
img.img4 {
    margin-right: 55px;
    width: 40%;
}
img.img5 {
    width: 40%;
}
.sign-up {
    background: #f0f0f0;
    height: 150px;
}
h2.sign {
    text-align: center;
    margin-bottom: 45px;
    position: relative;
    top: 20px;
}
form {
    position: relative;
    left: 310px;
}
img.icon-send {
    margin-left: 410px;
}
hr {
    width: 40%;
}
img.img6 {
    margin-right: 55px;
    width: 40%;
}
img.img7 {
    width: 40%;
}
.load-more {
    border: 1px solid;
    width: 15%;
    text-align: center;
    border-radius: 1px;
    height: 50px;
    margin: auto;
    margin-top: 25px;
}
.second-article {
    margin-top: 15px;
}
.load-more {
    border: 1px solid;
    width: 12%;
    text-align: center;
    border-radius: 1px;
    height: 25px;
    margin: auto;
    margin-top: 15px;
}
.footer.container {
    background: #f0f0f0;
    height: 35px;
    margin-top: 5px;
}
.footer-des {
    margin-right: 5px;
}
.footer-end {
    margin-right: 568px;
}
.follow {
    margin-right: 5px;
}
.ubuntu {
	font-family: ubuntu;
}
p {
	font-family: playfair;
}