$greyColor: #ebebeb;
$whiteColor: #ffffff;
$redColor: red;

#container{
    background-color: $greyColor;
    padding-top: 0.1%;
}
#content{
    width: 50%;
    background-color: $whiteColor;
    margin: 1% auto 0 auto;
    padding: 1%;
}
#content h3{
    color: $redColor;
    padding-top: 0;
    padding-left: 2%;
}
#images{
    display: flex;
}
.images-des{
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 2%;
}
#description p {
    padding: 0 2%;
}
