#wrapper{
	border: solid 1px #000;
	width: 500px;
	padding: 16px;
}
header,footer{
	text-align: center;
	border: solid 1px #000;
	height: 40px;
	padding-top: 20px;
}
article{
	overflow: auto;
}
.slidebar{
	text-align: center;
	float: left;
	border: solid 1px #000;
	height: 70px;
	padding-top: 40px;
	margin: 16px 16px 16px 0px;
}
.content{
	text-align: center;
	float: left;
	border: solid 1px #000;
	height: 70px;
	padding-top: 40px;
	margin: 16px 0px 16px 0px;
	width: 80%;
}