#wrapper{
	max-width: 600px;
	box-sizing: border-box;
	margin: 16px auto;
}
header,article aside,article section,footer,.Column,.Column3{
	text-align: center;
	padding: 5px 0px 5px;
	margin-bottom: 5px;
	background-color: #EFEFEF;
}
header{
	font-weight: bold;
}
article aside{
	padding: 20px 0px;
}
article section{
	padding: 20px 0px;
	min-height: 100px
}
.Column{
	width: 30%;
	float: left;
	margin-right: 30px;
}
.Column3{
	margin-right: 0px;
	width: 30%;
	float: left;
}
.clearfix{
	clear: both;
}
footer{
	padding: 10px 0px 20px;
}