.main1{
	
	position:absolute;
	top: 120px;
	left: 50px;
	right: 50px;

	

}
.main{
	max-width: 1000px;
	margin: auto;
	background-color: #FEFAE8;

}
.bao{
	position: relative;
}
.okmain{max-width: 1000px;
	margin: auto;
	}

.header{background-color:#D8E8E9;
height: 100px;}
.okmain{color:#3A6669;
font-size: 25px;
font-family:inherit;
padding-top: 30px;}
.giua{
	background-color: #574134;
	height: 200px;
}
.duoi{
	background-color: #B1A38D;
	height: 1000px;
}
.menu ul li{
	display: inline-table;
	width: 185px;
	height: 40px;
	line-height: 40px;
	border-right:solid;
	text-align: center;
	
}
.menu ul li a{text-decoration: none;
color:#725648;}
.menu ul{
	width: 960px;
	background-color:#89AD3A;
}

.mau{background-color:#FEFAE8;}
.row{display: flex;}
.chu{
	width: 70%;
	margin-top: 10px;
}
.nut{
	width: 30%;
	margin-right: 50px;
}
.nut input{
	border-radius: 30px;
	background-color: #DB982C;
	width: 150px;
	height: 40px;
}
.chu1{width: 90%;}
h1{
	color: #86AA39;
}
p{
	margin-top: 40px;
}
span{
	color: #DB982C;
	font-size: 25px;
	font-weight: bold;
}