:root{
	font-size: 16px;
}
body{
	font-family: "Times New Roman", serif;
}
#wrapper{
	width: 200px;
	height: 300px;
	background-color: #008000;
}
section{
	margin: -0.5rem 0.5rem 0.5rem;
	padding: 0.5rem;
	background-color: #FF0000;
}