body {
    margin: 0;
    padding: 0;
}
.wrap-header {
    background: #2f2f2f;
    color: #fff;
}
.container {
    max-width: 80%;
    margin: auto;
}
.row {
    display: flex;
    align-items: center;
}
.logo {
    width: 50%;
    font-family: Pacifico;
    font-size: 25px;
}
.header ul {
    width: 50%;
}
.header li {
    display: inline-block;
    margin: 0 15px;
}
.header ul li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}
@font-face{
	font-family: 'Pacifico';
	src:url('../fonts/Pacifico.ttf');
}
.post {
    width: 40%;
    margin-right: 48px;
}
.post-image {
    width: 60%;
}
.post-title{
	margin: 0;
}
.des{
	color: #8f8989;
}
a.learn-more {
    color: #fff;
    background: #f99640;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
}
.main-top .row{
    align-items: normal;
}
.wrap-main-top {
    background: #f1f1f1;
    padding: 40px 0;
}
.title-center {
    margin-top: 70px;
}
.wrap-row {
    display: flex;
}
.img{
	width: 100%;
	height: 200px;
	background: #000;
}
.row2 {
    margin-left: 50px;
}
.wrap-main-bottom {
    background: #2f2f2f;
}
.latest h1 {
    color: #fff;
    padding-top: 40px;
}
.latest-col {
    display: flex;
}
.july {
    background: #fff;
    margin-bottom: 25px;
    padding: 0 20px;
    border-radius: 5px;
}
.july h2 {
    font-family: Myriad pro;
    font-size: medium;
}
.text-latest {
    margin-left: 20px;
}
.text-latest h6 {
    margin-top: -10px;
}
.july p {
    text-align: center;
    margin-top: -10px;
}
.text-latest {
    margin-left: 20px;
    margin-top: -15px;
    color: #fff;
}
.main-bottom {
    display: flex;
    margin-top: 30px;
}
.latest {
    width: 30%;
}
.about {
    width: 40%;
    margin-top: 40px;
    color: #fff;
}
.stay {
    margin-top: 40px;
    color: #fff;
    margin-left: 50px;
}
.connect {
    display: flex;
    margin-bottom: -5px;
}
.connect p {
    margin-left: 20px;
}
.connect img {
    height: 30px;
}
.connect p {
    margin-left: 20px;
    margin-top: 6px;
    margin-bottom: 20px;
}
.wrap-footer {
    background: #fff;
    text-align: center;
}