$mintColor: #daeaeb;
$brownColor: #553f33;
$greyColor: #b1a38d;
$greenColor: #82a537;
$beigeColor: #fafee8;

@mixin MenuSetting{
    ul {
        margin: 0;
        li{
            display: inline-block;
            border-right: 1px solid;
            &:last-child{
                border-right: none;
            }
        }    
    }
}

body{
    margin: 0;
}
.intro.section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 15px 0;
}

.header {
    background-color: #daeaeb;
}

.body {
    background-color: #553f33;
    padding: 60px 0;
}

.footer {
    background-color: #b1a38d;
    padding-top: 46%;
    padding-bottom: 1%;
}

.main-content {
    top: 16%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid;
}

.top-menu{
    @include MenuSetting();
    ul{
        padding-left: 0;
        background-color: #82a537;
        border-color: #ffffff;
    } 
    li{
        padding: 10px 79px;
        background-color: $greenColor;
        &:first-child{
            background-color: $beigeColor;
        }
    }
}

.banner {
    background-color: #fafee8;
    text-align: center;
    padding: 1% 0;
    img{
        width: 95%;
    }
}

.after-menu{
    background-color: $beigeColor;
}

hr{
    width: 95%;
}

.quotes-content {
    width: 80%;
    margin-left: 3%;
    p{
        margin: 1%;
    }
}

a {
    background: #f99640;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.about-me, .help {
    width: 50%;
    margin-left: 3%;
    h3{
        color: $greenColor;
    }
}

.footer-menu{
    @include MenuSetting();
    ul{
        margin-left: 9%;
        li{
            margin-right: 1%;
            padding-right: 1%;
        }
    }
}


