.header {
    text-transform: capitalize;
}
.row {
    display: flex;

}
.left {
    width: 20%;
    background: #EA9999;
    height: 60px;
    padding-top: 20px;
    margin: 10px;
}
.right {
    width: 80%;
    background: #9FC5F8;
    margin: 10px;
}
.footer {
    background: #FFE599;
    padding: 20px;
    margin: 10px;
}
.Bai1 {
    border: 2px solid black;
}
.content {
    border: 2px solid black;
}