
.header{
	border: 1px solid;
	width: 300px;
}
.main{
	border: 1px solid;
	width: 300px;
	height: 340px;
}
.div1, .div2, .div3{
	display: flex;
}
.div1-1{
	border: 1px solid;
	width: 80px;
	height: 40px;
	margin: 20px;
	background-color:#EA9999 
}
.div1-2{
	border: 1px solid;
	width: 150px;
	height: 40px;
	margin: 20px;
	background-color:#9FC5F8
}
.div4{
	border: 1px solid;
	width: 260px;
	height: 40px;
	margin: 20px;
	background-color:#FFE599
}