.head{
  border:2px solid black;
  width:100%;
}
.siderbar {
  border:2px solid black;
  width: 25%;
  float: left;
  padding-right: 5px;
  margin-right: 5px;

}
.content{
    border:2px solid black;
    width: 72%;
    margin-right: 5px;
    float: right;
}

.footer{
    border:1px solid black;
    width: 100%;

}
.side{
  overflow: auto;
  padding: 20px ;

}
.ab{
  text-align: center;
 padding-top: 15px;
  height: 50px;
}
