		*
		{
			margin: 0px;
			padding: 0px;
		}
		body
		{
			background: #A9D7D1;
		}
		div
		{
			background: white;
			margin: 15px 40px;
			color: #616464;
		}
		table
		{
			width: 80%;
		}
		td
		{
			padding: 10px;
		}
		textarea
		{
			height: 65px;
			width: 245px;
		}
		td[colspan="2"]
		{
			padding-left: 60%;
		}
		input[type=submit]
		{
			width: 100px;
			height: 26px;
			background: #59ACE0;
			border: none;
			border-radius: 7px;
			color: white;
		}


		.p1
		{
			text-align: right;
		}
		.p1_likely
		{
			padding-bottom: 40px;
		}
		.p1_future
		{
			padding-bottom: 165px;
		}
		.p1_comments
		{
			padding-bottom: 55px;
		}
