.header{
	background: #444;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 35px;
	height: 70px;
	padding: 20px 30px 20px 158.406px;
}
.menu{
	background: #222;
	color: white;
	height: 30px;
	padding-top: 5px;
	padding-left: 158.406px;
}
.p{
	word-spacing: 20px;
}
.nut{
	margin-left: 742.406px;
}
.box{
	background: #f4f4f4;
	width: 80%;
	margin:auto;
	border: 1px solid lightblue;
}
.c{
	padding-left: 5px;
}
.c1{
	margin-left: 20px;
}
.c2{
	margin-left: 20px;
}
#b{
	font-weight: bold;
	font-size: 20px;
}
.va{
	margin:auto;
}
#s{
	border: 1px solid black;
	border-radius: 5%;
}
#cc{
	border-radius: 20px;
}
.sh{
	margin-left:158.406px;
	margin-right:158.406px;
	background: white;
}
.image{
	height: 160px;
	width: 20%;
	background: red;
	float: left;
	margin-right: 10px;
	margin-top: 15px;
}
.text{
	width: 100%;
}
.nd{
	width: 70%;
}
.co1{
	width: 49%;
}
.co2{
	width: 49%;
	margin-left: 30px;
}
.sidebar{
	width: 30%;
	margin-top: 15px;
	margin-left: 20px;
}
.bo{
	background: #f4f4f4;
	border: 1px solid lightblue;
}
.footer{
	padding-top: 20px;
	padding-left: 40px;
	height: 40px;
	background: #f4f4f4;
}
.row{
	display: flex;
}