.color{
	background:#EFEFEF;
	text-align: center;;
}
.logo{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 8px;
}
.menu{
	margin-bottom: 15px;
	height: 40px;
	word-spacing: 50px;
}
.f{
	height: 100px;
	margin-bottom: 10px;
}
.r2, .r3 {
	width: 33.33%;
	height: 150px;
	margin-left: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
}
.r1{
	width: 33.33%;
	height: 150px;
	margin-bottom: 15px;
	padding-top: 15px;
}
.footer{
	
	height: 38px;
	padding: 22px;
}
.row{
	display: flex;
}