
.header{
	background: #666666;
    color: white;
    /* margin: auto; */
    text-align: center;
    padding: 14px;
}
.main-common{
	float:left;
	height: 200px;
	padding-top: 20px;
	padding-left: 20px;
}
.main-content{
	display: flex;
}
.sidbar{
	width: 30%;
	background: #ccc;
}
.content{
	width: 70%;

}
.row{
	display: flex;
}
ul{
	margin: 0;
	list-style: none;
	padding-left: 0;
}
.wrap-content{
	padding-left: 20px;
}
.content span{
	font-weight: bold;
	margin-bottom: 15px;
	display: inline-block;
}
.footer{
	background: #777;
	text-align: center;
	counter-reset: #fff;
	padding: 10px;
	font-family: Arial;
}