*{
		line-height: 8px;
}
.title{
	font-size: bolder;
	color:red;
	margin-left:40px;
	font-size: 30px
}
.th{
	text-align: left;
	font-style: normal;
	font-weight: normal;
}
.table-title{
	text-align:center;
	font-weight:bolder;
}
#id-2-2{
	color:blue;
	font-weight: bolder;
}
#id-3-2{
	font-weight: bolder;
}
#id-4-2{
	font-style: italic;
}
#id-5-2{
	text-decoration: underline;
}
#id-6-2{
	font-style: italic;
}
#id-7-2{
	font-weight: bolder;
	font-size: 18px;
}
#id-8-2{
	font-family: arial;
	font-size: 12px;
}
#id-9-2{
	font-style: italic;
}
#id-10-2{
	text-decoration: line-through;
}
#id-11-2{
	font-size: 25px;
}
#id-12-2{
	font-size: 12px;
}