.bo{border-style: solid;
width: 500px;
height: 480px;
}
.header{
	width: 480px;
	height: 50px;
	border-style: solid;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	padding-top: 50px;

}
.giua{
	display: flex;
	height: 200px;
	width: 480px;
	margin: auto;
	margin-top: 20px;
}
.sidebar{
	border-style: solid;
	text-align: center;
	height: 100px;
	width: 100px;
	margin: auto;
	padding-top: 100px;
}
.content{
	border-style: solid;
	text-align: center;
	height: 100px;
	width: 380px;
	margin: auto;
	margin-left: 5px;
	padding-top: 100px;
}
.footer{
	border-style: solid;
	text-align: center;
	margin: auto;
	width: 480px;
	height: 50px;
	margin-top: 20px;
	padding-top: 30px;


}

