*{
  background-color: #CCCCFF;
}
h1{
  padding-left: 10px;
}
h3{
  padding-left: 30px;
}
p{
  padding-left: 60px;
}
.a{
  color: #4B0018;
}
.b{
  color: #040056;
}
.d{
    color: #040056;
}
div.dashed{
   border-style: dashed;
   color: #640F04;
}
