body{
	background: #ebebeb;
}
.main{
	height: 900px;
	width: 1000px;
	background: white;
	margin:auto;
}
p{
	padding-left: 25px; 
}
.s{
	color: red;
	font-size: 30px;
	font-weight: bold;
	padding-left: 25px; 
	padding-top: 25px;
}
.row{
	display: flex;
}
.d1{
	width: 30%;
	background: red;
	height: 200px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.d2{
	width: 30%;
	height: 30px;
	margin-left: 25px;
}
.d3{
	width: 30%;
	height: 180px;
	margin-left: 25px;
}
