.head {
    background: #666;
    padding: 60px;
    text-align: center;
    font-size: 50px;
    font-family: arial;
    color: white;
    padding-left: 45%;
    width: 100%;
}
.row {
    display: flex;
}

.left {
    width: 30%;
    height: 200px;
    background: #CCC;
}
.content1 {
    padding: 20px;
}

ul {
    padding: 0;
    margin-top: 0;
    list-style: none;
}

.right {
    height: 200px;
    width: 70%;
}
span {
    font-weight: bold;
    font-family: arial;
}
.footer.row {
    padding: 20px;
    background: #777;
    font-size: 20px;
    color: white;
    padding-left: 50%;
    width: 100%;
}